<h1>New review</h1>
  <%= simple_form_for [@restaurant, @review] do |f| %>
    <%= f.input :content %>
    <%= f.input :rating, collection: 0..5, input_html: { class: "form-select form-select-sm w-auto" } %>
    <%= f.submit 'Create a review', class: "btn btn-primary mt-2" %>
  <% end %>
